# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Ambientes virtuais
venv/
.venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
logs/
Logs/
*.log

# ==========================
# Banco de dados
# (se for criado automaticamente)
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Cache
# ==========================
.cache/
cache/
metadata_cache.json

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.bak

# ==========================
# FFmpeg
# (não envie os executáveis)
# ==========================
ffmpeg/

# ==========================
# Builds
# ==========================
dist/
build/
*.spec

# ==========================
# Sistema
# ==========================
Thumbs.db
Desktop.ini
.DS_Store